* {
  margin: 0;
  background-color: #050210;
}
/*krug koji se okrece*/
.krug {
  width: 300px;
  height: 300px;
  background: linear-gradient(#fb5dad, #55fb9f, #b97aff);
  position: absolute;
  left: calc(50vw - 150px);
  top: calc(50vh - 150px);
  animation-name: okretanje;
  animation-duration: 1s;
  border-radius: 50%;
  animation-iteration-count: infinite;
  z-index: 2;
  transition-timing-function: linear;
}
/*krug joji je postavljen sa blur efektom i koji se isto okrece*/
.krug2 {
  width: 300px;
  height: 300px;
  background: linear-gradient(#fb5dad, #55fb9f, #b97aff);
  position: relative;
  left: calc(50vw - 150px);
  top: calc(50vh - 150px);
  border-radius: 50%;
  animation-name: okretanje;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  z-index: 1;
  filter: blur(40px);
  transition-timing-function: linear;
}
/*animacija za okretanje krugova*/
@keyframes okretanje {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
/*crni krug koji se nalazi ispred obojanog kruga*/
.unutar-krug {
  width: 250px;
  height: 250px;
  background-color: #050210;
  position: absolute;
  left: calc(50vw - 125px);
  top: calc(50vh - 125px);
  border-radius: 50%;
  z-index: 3;
}
/*krug koji se nalazi ispred crnog kruga i koji pulsira i raste*/
.unutar-animacija {
  width: 250px;
  height: 250px;
  background-color: #120938;
  position: absolute;
  left: calc(50vw - 125px);
  top: calc(50vh - 125px);
  border-radius: 50%;
  z-index: 3;
  animation-name: puls;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}
/*animacija za krug koji pulsira*/
@keyframes puls {
  0% {
    transform: scale(0);
  }
  90% {
    opacity: 0.5;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
