* {
  background-color: #050210;
}
/*krug joji je postavljen sa blur efektom i koji se isto okrece*/
.krug2 {
  width: 300px;
  height: 300px;
  background: linear-gradient(#fb5dad, #55fb9f, #b97aff);
  position: relative;
  border-radius: 50%;
  animation-name: okretanje;
  animation-duration: 1s;
  margin: 0 auto;
  top: -89px;
  left: 8px;
  animation-iteration-count: infinite;
  z-index: 1;
  filter: blur(40px);
  animation-timing-function: linear;
}
/*krug u boji koji se rotira*/
.krug {
  width: 300px;
  height: 300px;
  background: linear-gradient(#fb5dad, #55fb9f, #b97aff);
  position: relative;
  left: calc(50vw - 150px);
  top: calc(50vh - 150px);
  animation-name: okretanje;
  animation-duration: 1s;
  border-radius: 50%;
  animation-iteration-count: infinite;
  z-index: 2;
  animation-timing-function: linear;
}
/*unutrasnja boja kruga koji se rotira*/
.krug::before {
  content: '';
  background-color: #050210;
  width: 250px;
  height: 250px;
  position: absolute;
  border-radius: 50%;
  z-index: 3;
  left: 25px;
  top: 25px;
}
/*pulsirajuci krug*/
.krug::after {
  content: '';
  width: 250px;
  height: 250px;
  background-color: #120938;
  position: absolute;
  left: 25px;
  top: 25px;
  border-radius: 50%;
  z-index: 3;
  animation-name: puls;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50% 0;
}
/*animacija za okretanje krugova*/
@keyframes okretanje {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
/*animacija za krug koji pulsira*/
@keyframes puls {
  0% {
    transform: scale(0);
  }
  90% {
    opacity: 0.5;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
